.footer {
    background-color: $footer-bacground-color;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (max-width:767px) {
            text-align: center;
        }
    
    
}
.footer--conteiner {
   

    @media (min-width:1200px) {
            display: flex;
            align-items: baseline;
        }
}
.sochmed--conteiner {
    margin-left: 70px;
    
}