.footer {
    background-color: $footer-bacground-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer--conteiner {
    display: flex;
    align-items: baseline;
}
.sochmed--conteiner {
    margin-left: 70px;
    
}