.head-sectione {
    border-bottom: 1px solid $head-boreder_bottom-color;
}

.head-sectione__logo {
    color: $logo-bl-color;
    font-family: $logo-fonts, $secondary-fonts;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    .head-sectione__logo--accsent {
            color: $accsent-color;
        }
}

