.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $footer-bacground-color;

    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/imeges/bg-img-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;

    @media (min-width:1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
        }

}
// tablet-img

   @media screen and (min-width:768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/imeges/bg-img-tablet.jpg');
    }
   }
//    desltop-img

     @media screen and (min-width:1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/imeges/bg-Img-desktop.jpg');
    }
   }
// 2x-img

// mobile-2x

        @media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
        screen and (min-resolution: 192dpi) and (max-width:767px),
        screen and (min-resolution: 2dppx) and (max-width:767px) {
       .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/imeges/bg-img-mobile@2x.jpg');
       }
   }

//    tablet-2x

 @media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
 screen and (min-resolution: 192dpi) and (min-width:768px),
 screen and (min-resolution: 2dppx) and (min-width:768px) {
     .hero {
         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/imeges/bg-img-tablet@2x.jpg');
     }
 }

// desktop-2x
 @media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
 screen and (min-resolution: 192dpi) and (min-width:1200px),
 screen and (min-resolution: 2dppx) and (min-width:1200px) {
     .hero {
         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/imeges//bg-Img-desktop@2x.jpg');
     }
 }

   

.hero__title {

    color: $primary-background-color;

    margin-top: 0px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;


    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width:1200px) {
            font-size: 44px;
            line-height: 1.36;
        }
}

.hero__button {
    color: $hero-tittle-color;
    background-color: $accsent-color;

    display: inline-block;
    padding: 10px 24px;
    min-width: 216px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

    border-color: transparent;

    transition: background-color 250ms $timing-functione;

    &:hover,
    &:focus {
            background-color: $second-accent-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

        @media screen and (min-width:768px) {
            padding: 10px 32px;
            
        }
}

