.main-nav__mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $primary-background-color;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms $timing-functione,
    visibility 250ms $timing-functione;
}

.main-nav__mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__conteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.mobile-menu__close-button {
    position: absolute;
    top: -25px;
    right: -25px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;

    &:hover,
    &:focus {
        color: $accsent-color;
    }

}


.mobile-menu__close-icone {
    width: 18.67px;
    height: 18.67px; 
}

.mobile-site-nav__conteiner {
    margin-bottom: auto
}

.mobile-site-nav {
   
    
    @extend %list;

}


.mobile-site-nav__items {
  margin-bottom: 32px;
}

.mobile-site-nav__link {
          display: block;

    color: $primary-text-color;
            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            text-decoration: none;
    
            transition: color 250ms $timing-functione;

                &:hover,
                &:focus,
                &.current {
                 color: $accsent-color;
                }
            
                
}

.mobile-site-nav__link--current {
    color: $accsent-color;
}

.mobile-auth-nav__conteiner {
    
}

.mobile-auth-nav {
@extend %list
}

.mobile-auth-nav__items {
 
}

.mobile-auth-nav__link {
        display: block;
        color: $secondory-text-color;
    
        font-weight: 500;
        font-size: 24px;
        line-height: 1,16;
        letter-spacing: 0.02em;
        text-decoration: none;

        margin-bottom: 64px;
    
}
.mobile-auth-nav__link--phone {
        display: block;
        color: $accsent-color;

        font-weight: 500;
        font-size: 34px;
        line-height: 1,17;
        letter-spacing: 0.02em;
        text-decoration: none;

        margin-bottom: 32px;
    
}

.mobile-soshmed {
    display: flex;
    flex-wrap: wrap;
@extend %list
}

.mobile-soshmed__item:first-child .mobile-soshmed__link {
     padding-left: 0%;
}

.mobile-soshmed__item:last-child .mobile-soshmed__link {
    border-right: none;
}

.mobile-soshmed__link {
        display: block;
    
        color: $accsent-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;


    padding-left: 10px;
    padding-right: 10px;    
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    
    
}





