.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms $timing-functione;
}

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;

    background-color: $primary-background-color;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-functione;
}

.form__tittle {

    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    font-size: 20px;

    color: $primary-text-color;
}

.modal__close-button {
    position: absolute;
    top: 0;
    right: 0;


    margin-top: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill 250ms $timing-functione;

    &:hover,
    &:focus {
            fill: $accsent-color;
        }
}



.modal__close-img {
    background-color: $primary-background-color;
}



.form {
    margin-left: auto;
    margin-right: auto;

    padding: 40px;

}

.form__field {
    position: relative;
    display: flex;

    flex-direction: column;
    margin-bottom: 10px;
}

.form__label {
    font-size: 12px;
    line-height: 1.16;

    margin-bottom: 5px;
    text-align: left;
}

.form__input {
    width: 448px;
    height: 40px;

    margin: 0;
    padding: 0;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;

    outline: none;

    &:focus {
            border-color: $accsent-color;
        }
}



.form__icon {
    position: absolute;
    top: 50%;
    left: 10px;

    display: inline-block;
    transition: fill 250ms $timing-functione;

    .form__input:focus~& {
            fill: $accsent-color;
        }
}



.comment__label {
    font-size: 12px;
    line-height: 1.16;

    margin-bottom: 5px;
    text-align: left;
}

.comment__input {

    width: 448px;
    height: 120px;
    padding: 12px 16px;


    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;

    resize: none;

    transition: border-color 250ms $timing-functione;
    
    &:focus {
            border-color: $accsent-color;
        }

    & ::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
}


.agree-field {
    display: flex;
    align-items: center;

}

.agree-field__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;

    margin-left: 8.38px;
}

.agree-field__input {
    appearance: none;

}

.agree-field__icone {
    display: inline-block;
    width: 16px;
    height: 15px;

    margin-right: 7px;

    border: 2px solid $icone-border-color;
    border-radius: 4px;

    transition: background-color 250ms $timing-functione,
        border-color 250ms $timing-functione;
    ;
}

.agree-field__input:checked+.agree-field__icone {
    border-color: $accsent-color;
    background-color: $accsent-color;
    background-image: url(../imeges/svg/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}

.agree-field__input:focus+.agree-field__icone {
    background-color: $accsent-color;
}

.agree-field__condition {
    color: $accsent-color;
    margin-left: 4px;

    &:hover,
    &:focus {
            text-decoration: none;
        }
}


.modal__button {
    color: $hero-tittle-color;
    background-color: $accsent-color;

    display: inline-block;
    margin-top: 30px;
    padding: 10px 32px;
    min-width: 200px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

    border-color: transparent;

    transition: background-color 250ms $timing-functione;

    &:hover,
    &:focus {
            background-color: $second-accent-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

}

