   $primary-text-color: #212121;
   $secondory-text-color: #757575;
   $accsent-color: #2196F3;
   $second-accent-color: #188CE8;
   $primary-background-color: #FFFFFF;
   $secondory-baclground-color: #F5F4FA;
   $footer-bacground-color: #2F303A;
   $logo-bl-color: #000000;
   $footer-cotnacts-color: rgba(255, 255, 255, 0.6);
   $hero-tittle-color: #ffffff;
   $head-line-color: #ECECEC;
   $border-color:#EEEEEE;
   $icone-bg-color:#F5F4FA;
   $icone-color:#AFB1B8;
   $icone-border-color:#2a3a3a;
   $head-boreder_bottom-color:#ECECEC;
   $timing-functione:cubic-bezier(0.4, 0, 0.2, 1);
   $logo-fonts: 'Raleway';
   $primaty-fonts: 'Roboto';
   $secondary-fonts: sans-serif;
